.circulo {
    background: white;
    width: 200px;
    height: 100px;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;    
}
.tituloGCD {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    margin-top: 15px;
    color: black;
}
.valorGCD {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding-top: 10px;
    margin-right: 35px;
    color: black;
    text-align: center;
    border-top: solid 3px;
}
@media (max-width: 414px) {
    .circulo {
        width: 130px;
        height: 80px;
        margin-left: 17px;
    }
    .tituloGCD {
        font-size: 15px;
    }
    .valorGCD {
        font-size: 18px;
        margin-top: 15px;
        margin-right: 20px;
        border-top: solid 2px;
    }
}